<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Contact-Success</title>
</head>

<body>
    <%- include('./partial/navbar.ejs') %>
        <h1>Contact us !</h1>
        <p>thank you for getting touch!</p>
        <p>
            You Contacted <%= data.who %> in the <%= data.department %> department
        </p>
        <p>
            you will reply to you at <%= data.email %>
        </p>

</body>

</html>